<!DOCTYPE html>
<html>
<head>
  <title>BackboneBlog</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "http://localhost:9292/faye.js" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand">Backbone Forms</a>
        <ul class="nav">
          <li><%= link_to "Home", "/", :rel => "pagelink"  %></li>
          <li><%= link_to "Articles", "/articles", :rel => "pagelink"  %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div id="content" class="span9"><%= yield %></div>
    </div>
  </div>
</body>
</html>
